:root {
    --main-bg: #ddeefc;
    --icons-bg: white;
    --shadow-bg: rgba(90, 116, 148, 0.6);
    --effect-bg: pink;
    --color-txt: #1a3b5d;
    --border-radius: 0.8rem;
}

html, body {
    background-color: var(--main-bg);
    margin: 0;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 75%;
    margin: 0 auto;
    max-width: 1200px;
}

h1 {
    color: var(--color-txt);
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4rem;
}

#animalType {
    display: flex;
    justify-content: space-around;
}

#animalType div {
    height: 9rem;
    width: 9rem;
    padding: 2rem;
    background-color: var(--icons-bg);
    border-radius: var(--border-radius);
    box-shadow: 0 2rem 4rem 0 var(--shadow-bg);
    transition: all ease 0.2s;
}

#animalType div:hover,
#animalType div:focus {
    cursor: pointer;
    box-shadow: 0 0 0 1rem var(--effect-bg);
    transform: translateY(-.5rem);
}

/* Media Queries */
@media (max-width: 850px) {
    #animalType {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #animalType div {
        margin-bottom: 3rem;
        height: 12rem;
        width: 12rem;
    }

    #animalType img {
        width: 12rem;
        height: 12rem;
    }
}