body {
    background-color: darkgrey;
}

#goHome {
    width: 80px;
    height: 50px;
    background-color: lightseagreen;
}

#goBack {
    width: 80px;
    height: 50px;
    background-color: lightcoral;
}

#locations {
    display: flex;
    justify-content: space-around;
}

#locations div {
    height: 50px;
    width: 150px;
    background-color: lightgreen;
}